.tipList {
    background-color: #0816d8;;
    height: 100%;
    border: 2px solid whitesmoke;
}

.tip {
    background-color: #0816d8;
    color: whitesmoke;
}

.tip__header {
    justify-content: center;
    display: flex;
    font-style: italic;
    color: whitesmoke;
    font-weight: bold;
}